@charset "UTF-8";
@font-face {
  font-family: "Reef";
  src: url("../../font/Reef-Bold.woff2") format("woff2"), url("../../font/Reef-Bold.woff") format("woff");
}
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Reef", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 15px;
}

h2 {
  font-size: 52px;
  font-weight: bold;
}

h3 {
  font-size: 32px;
  font-weight: bold;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  color: #000;
  background-color: #FFC700;
  padding: 12px 0 13px;
  border: none;
  position: relative;
  font-size: 20px;
}
.btn:hover {
  cursor: pointer;
}
.btn:focus {
  outline: none;
}
.btn::before {
  height: 42px;
  width: 42px;
  content: "";
  position: absolute;
  border-radius: 10px;
  background-color: #FFC700;
  transform: rotate(45deg);
  top: 5px;
  left: -21px;
}
.btn::after {
  height: 42px;
  width: 42px;
  content: "";
  position: absolute;
  border-radius: 10px;
  transform: rotate(45deg);
  background-color: #FFC700;
  right: -21px;
  bottom: 5px;
}

.header {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
.header__inner {
  height: 133px;
  display: flex;
  align-items: center;
}
.header__column {
  flex: 1 1 auto;
}
.header__cart {
  text-align: end;
  position: relative;
}
.header__cart .cart__count {
  position: absolute;
  display: block;
  content: "";
  top: -3px;
  right: -9px;
  width: 17px;
  height: 17px;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  background-color: yellow;
  border-radius: 50%;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}
.nav-list__link {
  color: #000;
}

select {
  cursor: pointer;
}

select,
select:focus {
  border: none;
}

.contacts {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  min-height: 64px;
}
.contacts__phone {
  text-align: end;
}
.contacts__link {
  color: #000;
}

.social {
  display: flex;
  justify-content: flex-end;
}
.social li:not(:last-child) {
  margin-right: 10px;
}

.about {
  height: 596px;
  position: relative;
}
.about__inner {
  position: absolute;
  top: 139px;
  left: 336px;
}
.about__column {
  display: flex;
  flex-direction: column;
  width: 39%;
}
.about__title {
  font-size: 64px;
  font-weight: bold;
}
.about__text {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  margin-top: 20px;
}
.about__price {
  margin-top: 50px;
}
.about__price .price {
  font-size: 32px;
  font-weight: bold;
}
.about__price .price_discount {
  font-size: 20px;
  text-decoration: line-through;
}
.about__btn {
  margin-top: 65px;
}

.btn_buy {
  padding-left: 83px;
  padding-right: 83px;
}

.about-slider__item1 {
  background: url("../../../../src/img/main/about/banner_1.jpg");
}
.about-slider__item2 {
  background: url("../../../../src/img/main/about/banner_2.jpg");
}
.about-slider__item3 {
  background: url("../../../../src/img/main/about/banner_3.jpg");
}
.about-slider .slick-track {
  height: 596px;
}
.about-slider .slick-slide:focus {
  outline: none;
}
.about-slider .arrow {
  width: 43px;
  height: 116px;
  background-color: #ffffff40;
  position: absolute;
  z-index: 9000;
  top: 220px;
  transition: 1s ease;
}
.about-slider .arrow:hover {
  cursor: pointer;
  background-color: #ffffffad;
}
.about-slider .arrow_left {
  left: 280px;
}
.about-slider .arrow_right {
  right: 13%;
  transform: scaleX(-1);
}
.about-slider .arrow::before {
  position: absolute;
  top: 43px;
  left: 15px;
  display: block;
  width: 30px;
  height: 30px;
  content: "";
  border-left: 3px solid #000;
  border-bottom: 3px solid #000;
  transform: rotate(45deg);
}

.catalog {
  position: relative;
  padding-bottom: 60px;
}
.catalog__heading {
  margin-top: 60px;
}
.catalog__title {
  text-align: center;
}
.catalog .items-catalog {
  margin-top: 30px;
}
.catalog .items-catalog__list {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.catalog .items-catalog .item-catalog {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 32%;
  padding: 40px 0 30px;
  height: 520px;
  border-radius: 5px;
  box-shadow: 0 1px 9px 4px rgba(0, 0, 0, 0.05);
}
.catalog .items-catalog .item-catalog:nth-child(1) {
  background: url("../../../../../src/img/main/catalog/classic-honey.png") center;
}
.catalog .items-catalog .item-catalog:nth-child(2) {
  background: url("../../../../../src/img/main/catalog/crem-honey.png") center;
}
.catalog .items-catalog .item-catalog:nth-child(3) {
  background: url("../../../../../src/img/main/catalog/box-honey.png") center;
}
.catalog .items-catalog .item-catalog .btn_look {
  color: #000;
  width: 48%;
}
.catalog::before {
  position: absolute;
  display: block;
  content: "";
  width: 320px;
  height: 443px;
  background: url("../../../../../src/img/main/catalog/1.png") no-repeat;
  bottom: 4%;
  z-index: -1;
}
.catalog::after {
  position: absolute;
  display: block;
  content: "";
  width: 320px;
  height: 278px;
  background: url("../../../../../src/img/main/catalog/2.png") no-repeat;
  bottom: 10%;
  right: 0;
  z-index: -1;
}

.present {
  background-color: #FFC700;
}
.present__inner {
  display: flex;
  justify-content: space-around;
  padding: 78px 0;
}
.present__heading {
  flex: 0 1 56%;
}
.present__text {
  max-width: 69%;
}
.present__button {
  align-self: flex-end;
}
.present .btn_go {
  padding-left: 57px;
  padding-right: 57px;
  background-color: #fff;
}
.present .btn_go::after, .present .btn_go::before {
  background-color: #fff;
}

.feedback {
  position: relative;
  padding: 60px 0;
  background-color: #F9F9F9;
}
.feedback__heading {
  text-align: center;
}
.feedback__list {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  cursor: pointer;
}
.feedback__arrow {
  position: absolute;
  display: block;
  content: "";
  width: 64px;
  height: 56px;
}
.feedback .arrow_left {
  background: url("../../../../../src/img/main/feedback/next.png");
  transform: scaleX(-1);
  top: calc(50% - 28px);
  left: -80px;
  cursor: pointer;
}
.feedback .arrow_right {
  background: url("../../../../../src/img/main/feedback/next.png");
  top: calc(50% - 28px);
  right: -80px;
  cursor: pointer;
}
.feedback .list-feedback .wrapper_item {
  display: flex;
  box-shadow: 0 0 9px 4px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
}
.feedback .list-feedback__item {
  padding: 10px;
}
.feedback .list-feedback__item:focus,
.feedback .list-feedback .slick-slide:focus {
  outline: none;
}
.feedback .list-feedback__bg {
  min-width: 180px;
}
.feedback .list-feedback .slick-slide {
  margin-right: 10px;
}
.feedback .list-feedback .slick-track {
  padding: 10px 0;
}
.feedback .list-feedback__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px 0 20px 18px;
}
.feedback .list-feedback__title, .feedback .list-feedback__text {
  font-size: 16px;
  font-weight: normal;
}
.feedback .list-feedback__text {
  -webkit-line-clamp: 5;
  /* количество строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 110px;
  padding-right: 20px;
}

.facts {
  padding: 60px 0 30px;
}
.facts__heading {
  text-align: center;
}
.facts .content-facts {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  min-height: 446px;
  background: url("../../../../../src/img/main/facts/honey.png") no-repeat center 80%;
}
.facts .content-facts__left {
  flex: 0 0 42%;
}
.facts .content-facts__right {
  flex: 0 0 42%;
}
.facts .content-facts .list-fact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.facts .content-facts .list-fact__item_left {
  display: flex;
  justify-content: flex-end;
  text-align: end;
}
.facts .content-facts .list-fact__item_left .list-fact__heading {
  margin-right: 20px;
}
.facts .content-facts .list-fact__item_right {
  display: flex;
  justify-content: flex-start;
  text-align: start;
}
.facts .content-facts .list-fact__item_right .list-fact__heading {
  margin-left: 20px;
}
.facts .content-facts .list-fact__item_left:nth-child(2) {
  margin-right: 90px;
}
.facts .content-facts .list-fact__item_right:nth-child(2) {
  margin-left: 90px;
}
.facts .content-facts .list-fact__img {
  height: 81px;
  min-width: 81px;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.facts .content-facts .list-fact__img_yellow {
  background-color: #EEF158;
}
.facts .content-facts .list-fact__img_turquoise {
  background-color: #B9F8E7;
}
.facts .content-facts .list-fact__img_red {
  background-color: #EE6A1F;
}
.facts .content-facts .list-fact__img_blue {
  background-color: #05A8A5;
  order: -1;
}
.facts .content-facts .list-fact__img_i-orange {
  background-color: #FECE00;
  order: -1;
}
.facts .content-facts .list-fact__img_green {
  background-color: #A5C70E;
  order: -1;
}
.facts__btn {
  text-align: center;
  margin-top: 21px;
}
.facts__btn .btn_buy {
  padding-left: 25px;
  padding-right: 25px;
}

.recipes {
  background-color: #F9F9F9;
}
.recipes__inner {
  padding: 60px 0;
}
.recipes__heading {
  text-align: center;
}
.recipes .content-recipes {
  margin-top: 30px;
}
.recipes .content-recipes__list {
  display: flex;
  justify-content: space-between;
}
.recipes .content-recipes__item {
  flex: 0 1 31%;
  box-shadow: 0 0 9px 4px rgba(0, 0, 0, 0.16);
}
.recipes .content-recipes__heading {
  padding: 25px 0 14px 20px;
}
.recipes .content-recipes__picture {
  position: relative;
}
.recipes .content-recipes__category {
  padding: 5px 20px;
  background-color: #FFC700;
  position: absolute;
  left: 20px;
  bottom: -5%;
  z-index: 999;
}

.subscribe {
  padding: 67px 0 50px;
  text-align: center;
}
.subscribe__inner {
  background-color: #FFC700;
  padding: 40px 0 60px;
  position: relative;
}
.subscribe__inner::after, .subscribe__inner::before {
  position: absolute;
  display: block;
  content: "";
  z-index: 1;
}
.subscribe__inner::before {
  background: url("../../../../../src/img/main/subscribe/flower-1.png") 0 100% no-repeat, url("../../../../../src/img/main/subscribe/flower-2.png") 100% 0 no-repeat;
  width: 71px;
  height: 91px;
  top: -17px;
  left: 20px;
}
.subscribe__inner::after {
  background: url("../../../../../src/img/main/subscribe/flower.png") no-repeat;
  width: 78px;
  height: 262px;
  right: 10%;
  bottom: 0px;
}
.subscribe__text {
  font-family: Arial, sans-serif;
}
.subscribe__form.form-subscribe {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.subscribe__form.form-subscribe input {
  padding-top: 18px;
  padding-bottom: 18px;
  border: none;
  border-radius: 4px;
  z-index: 2;
}
.subscribe__form.form-subscribe input[type=text],
.subscribe__form.form-subscribe input[type=tel] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 1px solid #e8e8e8;
  max-width: 55%;
}
.subscribe .input-wrapper {
  display: flex;
}
.subscribe .input-subscribe__user,
.subscribe .input-subscribe__phone {
  background-color: #fff;
  padding: 20px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.subscribe .form-subscribe__input_name,
.subscribe .form-subscribe__input_phone {
  font-family: Arial, sans-serif;
  padding-left: 20px;
}
.subscribe .form-subscribe__input_name:focus,
.subscribe .form-subscribe__input_phone:focus {
  outline: none;
}
.subscribe .form-subscribe__input_phone {
  max-width: 73% !important;
}
.subscribe .form-subscribe__input_button {
  box-shadow: 0 0 9px 4px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  background-color: #fff;
  padding-left: 85px;
  padding-right: 85px;
}

.footer {
  height: 327px;
  background-color: #f9f9f9;
}
.footer a {
  font-family: "Arial", sans-serif;
  color: #000;
}
.footer li {
  line-height: 25px;
}
.footer-top {
  padding: 50px 0 44px;
  display: flex;
}
.footer-top__column {
  flex: 0 0 25%;
}
.footer-top__column:not(:last-child) {
  border-right: 1px solid #e3e4e3;
}
.footer-top__column:nth-child(2) {
  padding-left: 8%;
}
.footer-top__column:last-child {
  flex: 0 0 40%;
  padding-left: 10%;
}
.footer-top__column:last-child li {
  line-height: 40px;
}
.footer .contacts-footer__link {
  margin-left: 12px;
}
.footer-bottom__text {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  padding: 10px 0;
}

.category-catalog {
  position: relative;
  padding: 60px 0 50px;
  text-align: center;
}
.category-catalog .goods-catalog__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
}
.category-catalog .goods-catalog__item {
  flex: 0 1 30%;
  box-shadow: 0 1px 9px 4px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  margin-top: 20px;
  padding-bottom: 20px;
  transition: 0.3s;
  background-color: #fff;
}
.category-catalog .goods-catalog__item:hover {
  transform: scale(1.02);
}
.category-catalog .goods-catalog__bg {
  position: relative;
  cursor: pointer;
}
.category-catalog .goods-catalog__bg::after {
  position: absolute;
  display: block;
  content: "";
  width: 32px;
  height: 32px;
  right: 20px;
  bottom: 20px;
  background-color: red;
  background: url("../../../../../src/img/main/category-catalog/zoom.png") no-repeat;
}
.category-catalog .goods-catalog .description-product {
  padding: 0 20px;
}
.category-catalog .goods-catalog .description-product__heading {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}
.category-catalog .goods-catalog .description-product__heading h4 {
  color: #000;
  flex: 0 0 auto;
}
.category-catalog .goods-catalog .description-product__title {
  color: rgba(0, 0, 0, 0.6);
  font-size: inherit;
  flex: 0 0 25%;
  text-align: start;
}
.category-catalog .goods-catalog .description-product__text {
  text-align: start;
}
.category-catalog .goods-catalog .description-product__text:last-child {
  align-self: flex-end;
}
.category-catalog .goods-catalog .description-product__price {
  font-size: inherit;
}
.category-catalog .goods-catalog .description-product__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.category-catalog .goods-catalog .description-product__item {
  display: flex;
}
.category-catalog .goods-catalog__button {
  display: block;
  width: 39%;
  margin: 20px auto 0;
  padding-left: 28px;
  padding-right: 28px;
}
.category-catalog::after, .category-catalog::before {
  position: absolute;
  display: block;
  content: "";
  z-index: -1;
}
.category-catalog::before {
  width: 417px;
  height: 243px;
  background: url("../../../../../src/img/main/category-catalog/limon.png") no-repeat;
  bottom: 4%;
}
.category-catalog::after {
  width: 385px;
  height: 245px;
  background: url("../../../../../src/img/main/category-catalog/nuts.png") no-repeat;
  right: -38px;
  top: 25.6%;
}

h4 {
  font-size: 24px;
  font-weight: bold;
}

.delivery {
  padding: 60px 0;
  background-color: #FFC700;
  position: relative;
}
.delivery__title {
  text-align: center;
}
.delivery .features-delivery__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 30px;
}
.delivery .features-delivery__item {
  position: relative;
  flex: 0 1 23%;
  padding: 40px 20px 25px;
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 284px;
  border-radius: 10px;
  overflow: hidden;
}
.delivery .features-delivery__item::before {
  width: 40px;
  position: absolute;
  content: "";
  display: block;
  height: 0;
  border-bottom: 15px solid #FFC700;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  transform: scale(-1);
  right: calc(50% - 40px);
  top: 0;
}
.delivery .features-delivery__item:nth-child(3) {
  min-height: 336px;
}
.delivery .features-delivery__text {
  font-family: Arial, sans-serif;
  margin-top: 10px;
  line-height: 24px;
}
.delivery .features-delivery__link {
  display: block;
  font-family: Arial, sans-serif;
  text-decoration: underline;
  text-align: end;
  font-size: 14px;
  line-height: 150%;
  color: #000;
  margin-top: 10px;
}
.delivery::before {
  position: absolute;
  content: "";
  display: block;
  width: 78px;
  height: 279px;
  background: url("../../../../../src/img/main/delivery/flower.png") no-repeat;
  transform: rotate(20.96deg);
  bottom: 10%;
  right: 10%;
}

/*# sourceMappingURL=category.css.map */
