@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@font-face {
  font-family: "Reef";
  src: url("../../font/Reef-Bold.woff2") format("woff2"), url("../../font/Reef-Bold.woff") format("woff");
}
html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Reef", sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

._container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 15px;
}

h2 {
  font-size: 52px;
  font-weight: bold;
}

h3 {
  font-size: 32px;
  font-weight: bold;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  color: #000;
  background-color: #FFC700;
  padding: 12px 0 13px;
  border: none;
  position: relative;
  font-size: 20px;
}
.btn:hover {
  cursor: pointer;
}
.btn:focus {
  outline: none;
}
.btn::before {
  height: 42px;
  width: 42px;
  content: "";
  position: absolute;
  border-radius: 10px;
  background-color: #FFC700;
  transform: rotate(45deg);
  top: 5px;
  left: -21px;
}
.btn::after {
  height: 42px;
  width: 42px;
  content: "";
  position: absolute;
  border-radius: 10px;
  transform: rotate(45deg);
  background-color: #FFC700;
  right: -21px;
  bottom: 5px;
}

.header {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 3;
}
.header__inner {
  height: 133px;
  display: flex;
  align-items: center;
}
.header__column {
  flex: 1 1 auto;
}
.header__cart {
  text-align: end;
  position: relative;
}
.header__cart .cart__count {
  position: absolute;
  display: block;
  content: "";
  top: -3px;
  right: -9px;
  width: 17px;
  height: 17px;
  font-size: 14px;
  line-height: 15px;
  text-align: center;
  background-color: yellow;
  border-radius: 50%;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}
.nav-list__link {
  color: #000;
}

select {
  cursor: pointer;
}

select,
select:focus {
  border: none;
}

.contacts {
  justify-content: space-between;
  flex-direction: column;
  display: flex;
  min-height: 64px;
}
.contacts__phone {
  text-align: end;
}
.contacts__link {
  color: #000;
}

.social {
  display: flex;
  justify-content: flex-end;
}
.social li:not(:last-child) {
  margin-right: 10px;
}

.product-cart {
  padding-bottom: 50px;
  background-color: #f9f9f9;
}
.product-cart__inner {
  display: flex;
}
.product-cart__content {
  margin-top: 30px;
}
.product-cart__heading {
  font-family: Montserrat, sans-serif;
}
.product-cart__category {
  font-family: inherit;
  font-size: 21px;
}
.product-cart__title, .product-cart__price {
  font-size: 32px;
  line-height: 125%;
  font-family: inherit;
  font-weight: 600;
}
.product-cart__price {
  font-weight: 600;
  color: #FFC700;
}
.product-cart .description-cart {
  margin-top: 30px;
}
.product-cart .description-cart__item {
  font-family: Montserrat, sans-serif;
  margin-top: 10px;
}
.product-cart .description-cart__title {
  font-family: inherit;
  font-weight: 600;
}
.product-cart .description-cart__text {
  font-family: inherit;
}
.product-cart .buy-product {
  display: flex;
  text-align: center;
  align-items: center;
  margin-top: 50px;
}
.product-cart .buy-product__count {
  background-color: #fff;
  border: 1px solid #ffc700;
  border-radius: 56px;
  display: flex;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
.product-cart .buy-product__count > span,
.product-cart .buy-product__count input {
  width: 56px;
  height: 56px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.product-cart .buy-product__count input {
  text-align: center;
  border: none;
  border-left: 1px solid #ffc700;
  border-right: 1px solid #ffc700;
}
.product-cart .buy-product__count input::-webkit-outer-spin-button,
.product-cart .buy-product__count input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.product-cart .buy-product__count input[type=number] {
  -moz-appearance: textfield;
}
.product-cart .buy-product__minus, .product-cart .buy-product__plus {
  cursor: pointer;
  font-size: 30px;
}
.product-cart .buy-product__quantity {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  border-left: 1px solid #ffc700;
  border-right: 1px solid #ffc700;
}
.product-cart .buy-product__add {
  text-align: center;
  width: 130px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
  padding: 14.2px 25px;
  margin-left: 50px;
}

.same-products {
  padding: 60px 0 50px;
}
.same-products .content-product__list {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10px;
}
.same-products .content-product__wrapper {
  box-shadow: 0 1px 9px 4px rgba(0, 0, 0, 0.05);
  padding-bottom: 20px;
}
.same-products .content-product__item {
  flex: 0 1 30%;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  transition: 0.3s;
  background-color: #fff;
}
.same-products .content-product__item:hover {
  transform: scale(1.02);
}
.same-products .content-product__item:focus {
  outline: none;
}
.same-products .content-product__bg {
  display: block;
  position: relative;
}
.same-products .content-product__bg:focus {
  outline: none;
}
.same-products .content-product__bg::after {
  position: absolute;
  display: block;
  content: "";
  width: 32px;
  height: 32px;
  right: 20px;
  bottom: 20px;
  background-color: red;
  background: url("../../../../../src/img/main/category-catalog/zoom.png") no-repeat;
}
.same-products .content-product__icon {
  width: 100%;
}
.same-products .content-product__arrow {
  cursor: pointer;
  width: 64px;
  height: 56px;
  background: url("../../../../../src/img/main/same-products/arrow.png") no-repeat center center;
  position: absolute;
  top: 44%;
  transition: 1s;
}
.same-products .content-product__arrow:hover {
  transform: scale(1.2);
}
.same-products .content-product__arrow.arrow_left {
  transform: scale(-1);
  left: -72px;
}
.same-products .content-product__arrow.arrow_right {
  right: -72px;
}
.same-products .content-product .description-product {
  padding: 0 20px;
}
.same-products .content-product .description-product__heading {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}
.same-products .content-product .description-product__heading h4 {
  color: #000;
  flex: 0 0 auto;
}
.same-products .content-product .description-product__title {
  color: rgba(0, 0, 0, 0.6);
  font-size: inherit;
  flex: 0 0 25%;
  text-align: start;
}
.same-products .content-product .description-product__text {
  text-align: start;
}
.same-products .content-product .description-product__text:last-child {
  align-self: flex-end;
}
.same-products .content-product .description-product__price {
  font-size: inherit;
}
.same-products .content-product .description-product__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.same-products .content-product .description-product__item {
  display: flex;
}
.same-products .content-product__button {
  display: block;
  width: 39%;
  margin: 20px auto 0;
  padding-left: 28px;
  padding-right: 28px;
}

.feedback {
  position: relative;
  padding: 60px 0;
  background-color: #F9F9F9;
}
.feedback__heading {
  text-align: center;
}
.feedback__list {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  cursor: pointer;
}
.feedback__arrow {
  position: absolute;
  display: block;
  content: "";
  width: 64px;
  height: 56px;
}
.feedback .arrow_left {
  background: url("../../../../../src/img/main/feedback/next.png");
  transform: scaleX(-1);
  top: calc(50% - 28px);
  left: -80px;
  cursor: pointer;
}
.feedback .arrow_right {
  background: url("../../../../../src/img/main/feedback/next.png");
  top: calc(50% - 28px);
  right: -80px;
  cursor: pointer;
}
.feedback .list-feedback .wrapper_item {
  display: flex;
  box-shadow: 0 0 9px 4px rgba(0, 0, 0, 0.16);
  border-radius: 5px;
}
.feedback .list-feedback__item {
  padding: 10px;
}
.feedback .list-feedback__item:focus,
.feedback .list-feedback .slick-slide:focus {
  outline: none;
}
.feedback .list-feedback__bg {
  min-width: 180px;
}
.feedback .list-feedback .slick-slide {
  margin-right: 10px;
}
.feedback .list-feedback .slick-track {
  padding: 10px 0;
}
.feedback .list-feedback__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 18px 0 20px 18px;
}
.feedback .list-feedback__title, .feedback .list-feedback__text {
  font-size: 16px;
  font-weight: normal;
}
.feedback .list-feedback__text {
  -webkit-line-clamp: 5;
  /* количество строк */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 110px;
  padding-right: 20px;
}

.recipes {
  background-color: #F9F9F9;
}
.recipes__inner {
  padding: 60px 0;
}
.recipes__heading {
  text-align: center;
}
.recipes .content-recipes {
  margin-top: 30px;
}
.recipes .content-recipes__list {
  display: flex;
  justify-content: space-between;
}
.recipes .content-recipes__item {
  flex: 0 1 31%;
  box-shadow: 0 0 9px 4px rgba(0, 0, 0, 0.16);
}
.recipes .content-recipes__heading {
  padding: 25px 0 14px 20px;
}
.recipes .content-recipes__picture {
  position: relative;
}
.recipes .content-recipes__category {
  padding: 5px 20px;
  background-color: #FFC700;
  position: absolute;
  left: 20px;
  bottom: -5%;
  z-index: 999;
}

.subscribe {
  padding: 67px 0 50px;
  text-align: center;
}
.subscribe__inner {
  background-color: #FFC700;
  padding: 40px 0 60px;
  position: relative;
}
.subscribe__inner::after, .subscribe__inner::before {
  position: absolute;
  display: block;
  content: "";
  z-index: 1;
}
.subscribe__inner::before {
  background: url("../../../../../src/img/main/subscribe/flower-1.png") 0 100% no-repeat, url("../../../../../src/img/main/subscribe/flower-2.png") 100% 0 no-repeat;
  width: 71px;
  height: 91px;
  top: -17px;
  left: 20px;
}
.subscribe__inner::after {
  background: url("../../../../../src/img/main/subscribe/flower.png") no-repeat;
  width: 78px;
  height: 262px;
  right: 10%;
  bottom: 0px;
}
.subscribe__text {
  font-family: Arial, sans-serif;
}
.subscribe__form.form-subscribe {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.subscribe__form.form-subscribe input {
  padding-top: 18px;
  padding-bottom: 18px;
  border: none;
  border-radius: 4px;
  z-index: 2;
}
.subscribe__form.form-subscribe input[type=text],
.subscribe__form.form-subscribe input[type=tel] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 1px solid #e8e8e8;
  max-width: 55%;
}
.subscribe .input-wrapper {
  display: flex;
}
.subscribe .input-subscribe__user,
.subscribe .input-subscribe__phone {
  background-color: #fff;
  padding: 20px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.subscribe .form-subscribe__input_name,
.subscribe .form-subscribe__input_phone {
  font-family: Arial, sans-serif;
  padding-left: 20px;
}
.subscribe .form-subscribe__input_name:focus,
.subscribe .form-subscribe__input_phone:focus {
  outline: none;
}
.subscribe .form-subscribe__input_phone {
  max-width: 73% !important;
}
.subscribe .form-subscribe__input_button {
  box-shadow: 0 0 9px 4px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  background-color: #fff;
  padding-left: 85px;
  padding-right: 85px;
}

.footer {
  height: 327px;
  background-color: #f9f9f9;
}
.footer a {
  font-family: "Arial", sans-serif;
  color: #000;
}
.footer li {
  line-height: 25px;
}
.footer-top {
  padding: 50px 0 44px;
  display: flex;
}
.footer-top__column {
  flex: 0 0 25%;
}
.footer-top__column:not(:last-child) {
  border-right: 1px solid #e3e4e3;
}
.footer-top__column:nth-child(2) {
  padding-left: 8%;
}
.footer-top__column:last-child {
  flex: 0 0 40%;
  padding-left: 10%;
}
.footer-top__column:last-child li {
  line-height: 40px;
}
.footer .contacts-footer__link {
  margin-left: 12px;
}
.footer-bottom__text {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  padding: 10px 0;
}

/*# sourceMappingURL=product.css.map */
